<!DOCTYPE html>
<meta charset="utf-8">
<style>
  body {
  font: 16px sans-serif;
  }

  .axis path,
  .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  }

  .x.axis path {
  <!-- display: none; -->
  }

  .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  }

  .grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  }

  .grid path {
  stroke-width: 0;
  }

</style>
<body>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8">
  </script>
  <script src="static/js/multipleLine/assembly_code.js">
  </script>
</body>
</html>